*{
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}
body{
    background-image: linear-gradient(to right ,rgb(70, 70, 200),purple);
    
}
a{
    text-decoration: none;
}
nav{
    display: flex;
    justify-content: space-between;
    background-color: rgb(60, 13, 88);
    height: 80%;

}

.right {
    
   margin: 5px;
  
}
.right ul  {
    margin: 0 23px;
    display: flex
;
    list-style: none;
    justify-content: space-between;

}
.right ul li{
    margin:26px 60px;
}
.left{
    font-size: 1.4em;
    padding: 5px;
    margin: 2px;
    width: 120px;
    color: whitesmoke;
    align-items:center ;
    display: flex;
    

}
.png{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: crimson;
    margin-right: 2px;
}
nav ul li a{
    color: white;
    
}
nav ul li a:hover{
    color: brown;
    font-size: 20px;  
}
.firstsection{
    display: flex;
    
}
.firstsection > div{
    width: 30%;
}
.rightsection img{
 width: 120%;
 margin:  60px 0px 60px; 
 border-radius: 50%;
 border-color: whitesmoke;
 background-color: rgba(17, 219, 206, 0.621);

 
}
.rightsection{
    margin: 0 23px;
    margin-bottom: 210px;

}
.leftsection{
   
    font-size: 24px;
    margin: 147px;
    padding : 5px;

}
.red{
    color:rgb(50, 8, 237);
}
.bt{
  background-color:  #03A9F4;
  border-radius: 5px;
  padding: 2px;
  color: white;
  border-color: #007AC1  ;

}
.bt2{
    background-color: #03A9F4;
    border-radius: 5px;
    padding: 2px;
    color: white;
    border-color: #007AC1 ;
  }
  .bt a:hover{
    color: #00698F; 
    
    font-size: 15px; 
   
}
.bt2 a:hover{
    color: #00698F;
    font-size: 15px;  
}
#element{
    color: rgb(254, 148, 0);
}

